.ant-table {
  background: none;
}
tr.ant-table-row {
  background: #fff;
  cursor: pointer;
}
.ant-table-body table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.ant-table-tbody > tr > td {
  padding: 0 8px;
}

.ant-table-tbody > tr > td:first-child {
  padding: 0 20px;
}

.ant-table-tbody > tr:first-child {
margin-top:-20px
}

/* row tags */
.my-tag {
  font-size: 12px;
}
.ant-table-thead > tr > th {
  padding: 10px;
}

/**rows info**/

.symbol {
  font-style: italic;
  font-size: 11px;
}

.title {
  margin-left: 3px;
  font-size: 13px;
  font-weight: bold;
  align-self: center;
}

.percent.negative {
  color: #e15241;
}

.percent.positive {
  color: #4eaf0a;
}

.ant-table-cell canvas {
  /* position: absolute;
  left: 14px;
  top: -11px; */
  margin-top: 40px;
}
