.header {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0 14px;
}
.titleCoin {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 26px;
}

/* tags*/
.tagRow {
  margin-bottom: 5px;
  display: flex;
  text-align: start;
  align-items: center;
}

.tagLegend {
  width: 68px;
  display: inline-table;
  font-weight: 500;
  font-size: 11px;
}

span.ant-tag {
  background: #eee;
  color: #428bca;
  padding: 1px 5px;
  border: none;
  margin-bottom: 5px;
}

span.ant-tag a {
  color: #428bca;
}

span.ant-tag.rank {
  background: #343a40;
  color: white;
  font-weight: bold;
}

span.ant-tag span {
  margin-left: 2px;
}

.tagRow.social span.ant-tag,
.tagRow.repos span.ant-tag {
  color: white;
  font-weight: bold;
}

.tagRow.social span.ant-tag a,
.tagRow.repos span.ant-tag a {
  color: white;
}

.tagRow.social span.ant-tag.forum a {
  color: #428bca;
}

/*mobile*/

@media only screen and (max-width: 575px) {
  .tagRow {
    display: grid;
  }
  .tagLinks {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .tagRow.social {
    max-width: 90px;
  }

  .tagLegend {
    width: fit-content;
  }
  .coinTableContainer{
    height:fit-content!important;
  }
}
