.coinStage {
  background-color: white;
  width: 100%;
  height: 100%;
  max-height: 70vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
}
.coinWrap {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 40px;
}
.titleCoin {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 26px;
}

.searchBar {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.description .text {
  background: #f5f5f5;
  padding: 14px;
  border-radius: 0 25px;
  padding-top: 22px;
  max-width: 97%;
  margin-bottom: 10px;
}

.description .textWrap {
  padding: 17px 20px;
  text-align: justify;
  background: white;
  border-radius: 23px;
  color: #7b7574;
}

.description .ant-avatar {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin-right: 10px;
}
.description .title {
  background: #f5f5f5;
  width: fit-content;
  margin-left: 0;
  padding: 26px 50px 5px 15px;
  border-radius: 48% 48% 0 0;
  font-size: 26px;
  font-weight: normal;
  text-indent: 21px;
}

/* tags*/
.tagRow {
  margin-bottom: 5px;
  display: flex;
  font-size: 14px;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
}

.leftSide {
  display: flex;
  justify-content: flex-start;
}

.tagLegend {
  display: inline-table;
  font-weight: 500;
  font-size: 12px;
  font-weight: bold;
  margin-right: 2%;
}
.leftSide .tagLegend {
  width: 75px;
}

.rightSide .tagRow {
  flex-direction: column;
}

.bottomInfo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.bottomInfo .title {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.bottomInfo .container {
  background: whitesmoke;
  border-radius: 6px;
  height: fit-content;
  width: fit-content;
  padding: 8px;
  width: 100%;
}
.bottomInfo .info {
  text-align: center;
  border-left: 2px solid white;
}

span.date {
  font-size: 10px;
  display: block;
  text-align: center;
}
span.date:before {
  content: "(";
}
span.date:after {
  content: ")";
}

span.ant-tag {
  background: #eee;
  color: #428bca;
  padding: 1px 5px;
  border: none;
  margin-bottom: 5px;
}

span.ant-tag a {
  color: #428bca;
}

span.ant-tag.rank {
  background: #343a40;
  color: white;
  font-weight: bold;
}

span.ant-tag span {
  margin-left: 2px;
}

.tagRow.social span.ant-tag,
.tagRow.repos span.ant-tag {
  color: white;
  font-weight: bold;
}

.tagRow.social span.ant-tag a,
.tagRow.repos span.ant-tag a {
  color: white;
}

.tagRow.social span.ant-tag.forum a {
  color: #428bca;
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.headerRight {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-left: -36%;
}

.headerRight .percent {
  font-size: 20px;
  margin-left: 5px;
}
.currentPrice {
  font-size: 27px;
}
.topRightInfo {
  padding-left: 7px;
}

/*charts*/

.navigation {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 100;
}
.navigation button {
  margin-left: 3px;
}

.bottomInfo .tagRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-top: 1px solid white;
  padding: 3%;
  align-items: center;
}
.description {
  margin-top: 35px;
}

.info .percent.negative {
  color: red;
}
.info .percent {
  color: green;
  font-size: 11px;
  margin-left: 10px;
}

.info .separator {
  margin: 0 3px;
}

/*Loader*/

.loadingContainer {
  position: absolute !important;
  z-index: 100;
}

.ant-spin-spinning {
  position: absolute !important;
  left: 38% !important;
}

.ant-layout-footer {
  z-index: 2;
}
/*mobile*/

@media only screen and (max-width: 575px) {
  .coinStage {
    max-height: 100%;
  }
  .coinWrap {
    padding: 10px;
  }
  .tagLinks {
    display: flex;
    overflow-x: auto;
  }
  .tagLinks .tagRow {
    display: grid;
    justify-content: space-evenly;
    margin-right: 6px;
  }
  .tagLinks .tagRow.rank {
    display: none;
  }

  .tagLinks .tagsContainer {
    display: flex;
    flex-wrap: nowrap;
  }

  .tagLinks .tagLegend {
    width: fit-content;
  }
  .coinTableContainer {
    margin-top: 20px;
  }
  .rightSide {
    flex-direction: column;
  }
  .topRightInfo {
    display: grid;
    justify-content: center;
    align-content: space-around;
  }
  .bottomInfo {
    margin-top: 25px;
  }
}
