.coinStage {
  background-color: white;
  width: 100%;
  height: 100%;
  max-height: 70vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  overflow-y: scroll;
}

.header {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 20px;
}
.titleCoin {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 26px;
}

/* tags*/
.tagRow {
  margin-bottom: 5px;
  display: flex;
}
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
}
.leftSide {
  display: flex;
  justify-content: center;
}

.tagLegend {
  display: inline-table;
  font-weight: 500;
  font-size: 11px;
  font-weight: bold;
  margin-right: 2%;
}
.leftSide .tagLegend {
  width: 68px;
}

.rightSide .tagRow {
  flex-direction: column;
}

span.ant-tag {
  background: #eee;
  color: #428bca;
  padding: 1px 5px;
  border: none;
  margin-bottom: 5px;
}

span.ant-tag a {
  color: #428bca;
}

span.ant-tag.rank {
  background: #343a40;
  color: white;
  font-weight: bold;
}

span.ant-tag span {
  margin-left: 2px;
}

.tagRow.social span.ant-tag,
.tagRow.repos span.ant-tag {
  color: white;
  font-weight: bold;
}

.tagRow.social span.ant-tag a,
.tagRow.repos span.ant-tag a {
  color: white;
}

.tagRow.social span.ant-tag.forum a {
  color: #428bca;
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.headerRight {
  display: flex;
  align-items: baseline;
}

.headerRight .percent {
  font-size: 20px;
  margin-left: 14px;
}
.currentPrice {
  font-size: 27px;
}
.topRightInfo {
  padding-left: 7px;
}

/*charts*/

.navigation {
  display: flex;
  justify-content: flex-end;
}
.navigation button {
  margin-left: 3px;
}

/*mobile*/

@media only screen and (max-width: 575px) {
  .tagLinks {
    display: flex;
    overflow-x: auto;
  }
  .tagLinks .tagRow {
    display: grid;
    justify-content: space-evenly;
    margin-right: 6px;
  }

  .tagLinks .tagsContainer {
    display: flex;
    flex-wrap: nowrap;
  }

  .tagLinks .tagLegend {
    width: fit-content;
  }
  .coinTableContainer {
    margin-top: 20px;
  }
  .rightSide {
    flex-direction: column;
  }
  .topRightInfo {
    display: grid;
    justify-content: center;
    align-content: space-around;
  }
}
