@import "~antd/dist/antd.css";

html {
  scroll-behavior: smooth;
}

div#root {
  height: 100%;
}

.mainContent {
  height: 100%;
  max-height: 70vh;
}

.CoinsListingContainer {
  max-height: 70vh;
  overflow-y: scroll;
}

@media only screen and (max-width: 575px) {
  .mainContent,
  .CoinsListingContainer {
    max-height: 100%;
  }
}
